<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      You are now connected <%= current_user.email %> !
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>

    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>

  <% else %>

  <% end %>
</ul>



<div class="container">
  <div class="text-center">
  <h2> All events around!</h2><br>
  </div>
  <div class="row col">
    <% @events.each do |event| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><u>Event:</u> <%= event.title%></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Start: <%=event.start_date%></li>
          <li class="list-group-item">Location: <%=event.location%></li>
          <li class="list-group-item">Price: <%=event.price %> $</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>