<div class="jumbotron text-center">
  <h2 class="display-4">Eventbrite</h2>
  <p class="lead">Here you can find all event available around you! If you click the event you will see all detailed informations!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Create a new event!", new_event_path, :class => "btn btn-primary btn-lg"%>
  </p>
</div>


<div class="container">
  <div class="text-center">
  <h2> All events around!</h2><br>
  </div><br>
  <div class="row mb-3 col">
    <% @events.each do |event| %>
      <div class="card mx-auto" style="width: 18rem;">
        <div class="card-header text-center">
          <h5 class="card-title"><b> <%= event.title%></b></h5>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Start:</b> <%=event.start_date%></li>
            <li class="list-group-item"><b>Location:</b> <%=event.location%></li>
            <li class="list-group-item"><b>Price:</b> <%=event.price %> $</li>
            <li class="list-group-item text-center"><%=link_to "More about this event", event_path(event.id), :class => "btn btn-outline-primary"%></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>