<div class="jumbotron text-center">
  <% if user_signed_in? %>
    <p class="text-right">
      You are now connected <%= current_user.email %> !
    </p>
  <% end %>
  <h2 class="display-4">Eventbrite</h2>
  <p class="lead">Here you can find all event available around you! If you click the event you will see all detailed informations!</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <%= link_to "Create a new event!", new_event_path, :class => "btn btn-primary btn-lg"%>
  </p>
</div>

<div class="container ">
  <div class="text-center">
  <h2> All events around!</h2><br>
  </div>
  <div class="row col">
    <% @events.each do |event| %>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><b> <%= event.title%></b></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Start: <%=event.start_date%></li>
          <li class="list-group-item">Location: <%=event.location%></li>
          <li class="list-group-item">Price: <%=event.price %> $</li>
        </ul>
      </div>
    <% end %>
  </div>
</div>